.container__wrap{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.stat__list{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.stat__item{
    font-size: 22px;
    font-weight: 400;
    
}